body{
      background-color: #13293d;
}

.loginInput{
      background-color: #13293d;
      border: none;
      border-radius: 0px;
      color: white;
}

.grey{
      color: #6c7986;
}

    .grey:focus {
      border-bottom:1px solid ;
      background-color: transparent;
      color: white;
    }

.btn-outline-info:hover{
      color: white;
      font-size: 2rem;
}


